
/*
/*/

!.gitignore
!/Assets
!/Assets/*
!/Packages
!/Packages/*
!/ProjectSettings
!/ProjectSettings/*


/Assets/Photon/PhotonChat/Demos.meta
/Assets/Photon/PhotonChat/Demos
/Assets/Photon/PhotonRealtime/Demos.meta
/Assets/Photon/PhotonRealtime/Demos
/Assets/Photon/PhotonUnityNetworking/Demos.meta
/Assets/Photon/PhotonUnityNetworking/Demos